@mixin font($f-color: #fff,$f-family:'Poppins',$f-size:14px,$f-style:normal,$f-weight:400,$f-height:20px){
    color: $f-color;
    font-family: $f-family;
    font-size: $f-size;
    font-style: $f-style;
    font-weight: $f-weight;
    line-height: $f-height;
}
